<section
    class="hero is-fullheight has-text-centered has-background-white-ter"
    id="about"
>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div
                    class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"
                >
                    <figure class="image">
                        <img
                            class="is-rounded"
                            src="{{site.author-image}}"
                            alt="{{site.author-name}}"
                        />
                    </figure>
                </div>
                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen"
                >
                    <div>
                        <h3>{{site.author-about}}</h3>
                        <h3>깃허브, 벨로그를 통해 언제든 연락주세요!</h3>
                        <h3>
                            사람인, 원티드 역시 이력서가 업로드 되어 있습니다.
                        </h3>
                        <h2>
                            현재 자바스크립트 -> 타입스크립트로 이사 진행 중
                            입니다.
                        </h2>
                    </div>

                    <div class="container columns is-centered">
                        <div>
                            <a
                                href="{{site.url}}{{site.baseurl}}/portfolio"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Portfolio</a
                            >
                        </div>

                        <div>
                            <a
                                href="https://velog.io/@andy3638"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Velog</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
