<section
    class="hero is-fullheight has-text-centered has-background-white-ter"
    id="about"
>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div
                    class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"
                >
                    <figure class="image">
                        <img
                            class="is-rounded"
                            src="{{site.author-image}}"
                            alt="{{site.author-name}}"
                        />
                    </figure>
                </div>
                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen"
                >
                    <div>
                        <h3>{{site.author-about}}</h3>
                        <div>
                            <div>
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/gmail.png"
                                    width="300"
                                />
                                <p>이메일,</p>
                            </div>
                            <div>
                                <a href="https://https://github.com/pjh94">
                                    <img
                                        src="https://kylesportfolio.s3.amazonaws.com/icon/github.png"
                                        width="300"
                                    />
                                </a>
                                <p>깃허브,</p>
                            </div>
                            <div>
                                <a href="https://velog.io/@andy3638">
                                    <img
                                        src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
                                        width="300"
                                    />
                                </a>
                                <p>벨로그를 통해 언제든 연락주세요!</p>
                            </div>
                        </div>
                        <h3>
                            사람인, 원티드 역시 이력서가 업로드 되어 있습니다.
                        </h3>
                        <br />
                        <br />

                        <div>학력 : 경희대학교 기계공학과 졸업(예정)</div>

                        <br />
                        <br />

                        <div>
                            특이 이력이 있습니다.
                            <br />

                            서울대학교 영재교육원 정보과 수료
                            <br />
                            서울교육대학교 영재교육원 정보과 수료
                            <br />
                            하지만 그 당시의 기억은 남아있지 않습니다 (T_T) 그때
                            계속 코딩할걸
                        </div>

                        <br />
                        <br />

                        <h2>
                            현재 자바스크립트 -> 타입스크립트로 이사 진행 중
                            입니다.
                        </h2>
                    </div>

                    <div class="container columns is-centered">
                        <div>
                            <a
                                href="{{site.url}}{{site.baseurl}}/portfolio"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Portfolio</a
                            >
                        </div>

                        <div>
                            <a
                                href="https://velog.io/@andy3638"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Velog</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
