<section
    class="hero is-fullheight has-text-centered has-background-white-ter"
    id="about"
>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div
                    class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"
                >
                    <figure class="image">
                        <img
                            class="is-rounded"
                            src="{{site.author-image}}"
                            alt="{{site.author-name}}"
                        />
                    </figure>
                </div>
                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen"
                >
                    <div>
                        <h3>{{site.author-about}}</h3>
                        <div>
                            <a href="mailto:{{site.email}}">
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/gmail.png"
                                    width="50"
                                />
                            </a>
                            이메일
                            <a href="https://github.com/pjh94">
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/github.png"
                                    width="30"
                                />
                            </a>
                            깃허브
                            <a href="https://velog.io/@andy3638">
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
                                    width="30"
                                />
                            </a>
                            벨로그를 통해 언제든 연락주세요!
                        </div>

                        <div>
                            사람인, 원티드, 잡코리아 역시 이력서가 업로드 되어
                            있습니다.
                            <a
                                href="https://kylesportfolio.s3.amazonaws.com/%EB%B8%94%EB%A1%9D%EC%B2%B4%EC%9D%B8+%EB%B0%B1%EC%97%94%EB%93%9C+%EA%B0%9C%EB%B0%9C%EC%9E%90%2C+%EC%97%85%EB%AC%B4%EC%97%90+%EB%A7%9E%EC%B6%A4+%EC%9D%B8%EC%9E%AC+%EB%B0%95%EC%A0%95%ED%98%B8%EC%9E%85%EB%8B%88%EB%8B%A4._andy3638.pdf"
                            >
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/resume-cv.png"
                                    width="30"
                                />
                            </a>
                        </div>

                        <!-- <div>
                            저에 대한 자세한 소개는 블로그를 참조 해주세요!
                            <a
                                href="https://velog.io/@andy3638/%EC%A0%80%EB%A5%BC-%EC%86%8C%EA%B0%9C%ED%95%A9%EB%8B%88%EB%8B%A4"
                            >
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
                                    width="30"
                                />
                            </a>
                        </div> -->
                        <br />
                        <br />

                        <div>학력 : 경희대학교 기계공학과 졸업(예정)</div>

                        <br />
                        <br />

                        <div>
                            특이 이력이 있습니다.
                            <br />

                            - 서울대학교 영재교육원 정보과 수료
                            <br />
                            - 서울교육대학교 영재교육원 정보과 수료
                            <br />
                            아쉽게도, 개발의 길이 잠시 끊겼었지만 제가 정말 하고
                            싶었던 길이 개발자였음을 알 수 있었던
                            시간이었습니다. 저는 개발을 정말 사랑합니다.
                        </div>

                        <br />
                        <br />

                        <div>
                            좋은 관계가 이루어져 좋은 가치를 만들어내길
                            기대합니다 :)
                        </div>
                        <br />

                        <div>
                            <h2>
                                cf.) 현재 자바스크립트 -> 타입스크립트로 이사
                                진행 중 입니다.
                            </h2>
                            개발 공부를 진행했던 전반에 걸친 내용이 있으니 한 번
                            읽어보시는 것도 추천합니다!
                            <a
                                href="https://velog.io/@andy3638/%ED%83%80%EC%9E%85%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8%EB%A1%9C-%EC%9D%B4%EC%82%AC%ED%95%98%EA%B8%B0"
                            >
                                <img
                                    src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
                                    width="30"
                                />
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="container columns is-centered">
                        <div>
                            <a
                                href="{{site.url}}{{site.baseurl}}/portfolio"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Portfolio</a
                            >
                        </div>

                        <div>
                            <a
                                href="https://velog.io/@andy3638"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                >Velog</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
