<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <h3>{{site.author-about}}</h3>
            <div>
                <img
                    src="https://kylesportfolio.s3.amazonaws.com/icon/gmail.png"
                    width="30"
                />
                이메일
                <a href="https://github.com/pjh94">
                    <img
                        src="https://kylesportfolio.s3.amazonaws.com/icon/github.png"
                        width="30"
                    />
                </a>
                깃허브
                <a href="https://velog.io/@andy3638">
                    <img
                        src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
                        width="30"
                    />
                </a>
                벨로그를 통해 언제든 연락주세요!
            </div>
            <h3>사람인, 원티드 역시 이력서가 업로드 되어 있습니다.</h3>
            <br />
            <br />

            <div>학력 : 경희대학교 기계공학과 졸업(예정)</div>

            <br />
            <br />

            <div>
                특이 이력이 있습니다.
                <br />

                서울대학교 영재교육원 정보과 수료
                <br />
                서울교육대학교 영재교육원 정보과 수료
                <br />
                하지만 그 당시의 기억은 남아있지 않습니다 (T_T) 그때 계속
                코딩할걸
            </div>

            <br />
            <br />

            <h2>현재 자바스크립트 -> 타입스크립트로 이사 진행 중 입니다.</h2>
        </div>
    </body>
</html>
