<section class="hero is-fullheight has-text-centered" id="contact">
  <div class="hero-body">
    <div class="container">
      <div>
        기술 스택에 자세한 내용은 블로그를 참고해주세요.
        <a
          href="https://velog.io/@andy3638/%EA%B8%B0%EC%88%A0-%EC%8A%A4%ED%83%9D"
        >
          <img
            src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
            width="50"
          />
        </a>
      </div>
      <h2>Skills</h2>
      <div>
        <h3>BlockChain</h3>
        <div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/Solidity-Logo.wine.png"
            />
            <p>Solidity</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/web3js-seeklogo.com.png"
            />
            <p>Web3</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/truffle.png"
            />
            <p>Truffle</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/ganache.png"
            />
            <p>Ganache</p>
          </div>
        </div>

        <h3>Front End</h3>
        <div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/react.png"
            />
            <p>React</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/nextjs.jpg"
            />
            <p>NextJS</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/reactquery.png"
            />
            <p>React Query</p>
          </div>
        </div>

        <h3>Back End</h3>
        <div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/nodejs.png"
            />
            <p>NodeJS</p>
          </div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/express.png"
            />
            <p>ExpressJS</p>
          </div>

          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/mysql.png"
            />
            <p>MySQL</p>
          </div>
        </div>

        <h3>Server</h3>
        <div>
          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/ssl.png"
            />
            <p>SSL</p>
          </div>

          <div id="skills">
            <img
              class="image"
              src="https://kylesportfolio.s3.amazonaws.com/icon/aws.png"
            />
            <p>AWS</p>
          </div>

          <div>
            <div id="skills">
              <img
                class="image"
                src="https://kylesportfolio.s3.amazonaws.com/icon/ec2.png"
              />
              <p>EC2</p>
            </div>
            <div id="skills">
              <img
                class="image"
                src="https://kylesportfolio.s3.amazonaws.com/icon/s3.png"
              />
              <p>S3</p>
            </div>
            <div id="skills">
              <img
                class="image"
                src="https://kylesportfolio.s3.amazonaws.com/icon/route53.png"
              />
              <p>Route 53</p>
            </div>
            <div id="skills">
              <img
                class="image"
                src="https://kylesportfolio.s3.amazonaws.com/icon/rds.png"
              />
              <p>RDS</p>
            </div>
          </div>
        </div>
      </div>
      {% unless site.facebook_username == %}
      <a
        id="contact-button"
        href="https://m.me/{{site.facebook_username}}"
        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
        target="_blank"
      >
        <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
      </a>
      {% endunless %} {% unless site.email == %}
      <a
        id="contact-button"
        href="mailto:{{site.email}}"
        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
        target="_blank"
      >
        <i class="fas fa-envelope"></i>Send me an Email
      </a>
      {% endunless %} {% unless site.twitter_username == %}
      <a
        id="contact-button"
        href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
        target="_blank"
      >
        <i class="fab fa-twitter"></i>Tweet me on Twitter
      </a>
      {% endunless %}
      <hr />
      <h3
        class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless"
      >
        You Can find me here
      </h3>
      <div class="column is-full is-size-3">
        {% unless site.facebook_username == %}
        <a
          href="http://www.facebook.com/{{site.facebook_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-facebook"></i
        ></a>
        {% endunless %} {% unless site.twitter_username == %}
        <a
          href="http://www.twitter.com/{{site.twitter_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-twitter"></i
        ></a>
        {% endunless %} {% unless site.instagram_username == %}
        <a
          href="http://www.instagram.com/{{site.instagram_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-instagram"></i
        ></a>
        {% endunless %} {% unless site.linkedin_username == %}
        <a
          href="http://www.linkedin.com/in/{{site.linkedin_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-linkedin"></i
        ></a>
        {% endunless %} {% unless site.github_username == %}
        <a
          href="http://www.github.com/{{site.github_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-github"></i
        ></a>
        {% endunless %} {% unless site.youtube_channel_id == %}
        <a
          href="http://www.youtube.com/channel/{{site.youtube_channel_id}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-youtube"></i
        ></a>
        {% endunless %} {% unless site.reddit_username == %}
        <a
          href="http://www.reddit.com/u/{{site.reddit_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-reddit"></i
        ></a>
        {% endunless %} {% unless site.behance_username == %}
        <a
          href="http://www.behance.com/{{site.behance_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-behance"></i
        ></a>
        {% endunless %} {% unless site.dribbble_username == %}
        <a
          href="http://www.dribbble.com/{{site.dribbble_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-dribbble"></i
        ></a>
        {% endunless %} {% unless site.spotify_username == %}
        <a
          href="http://open.spotify.com/user/{{site.spotify_username}}"
          target="_blank"
          class="has-text-black"
          ><i class="fab fa-spotify"></i
        ></a>
        {% endunless %}
      </div>
    </div>
  </div>
</section>
