<section class="hero is-fullheight has-text-centered" id="skills">
    <div class="hero-body">
        <div class="container">
            <!-- <div>
        기술 스택에 자세한 내용은 블로그를 참고해주세요.
        <a
          href="https://velog.io/@andy3638/%EA%B8%B0%EC%88%A0-%EC%8A%A4%ED%83%9D"
        >
          <img
            src="https://kylesportfolio.s3.amazonaws.com/icon/velog.png"
            width="30"
          />
        </a>
      </div> -->
            <br />
            <div style="font-size: large">Skills</div>
            <div>
                <h3>BlockChain</h3>
                <div class="list">
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/Solidity-Logo.wine.png"
                        />
                        <p>Solidity</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/web3js-seeklogo.com.png"
                        />
                        <p>Web3</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/truffle.png"
                        />
                        <p>Truffle</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/ganache.png"
                        />
                        <p>Ganache</p>
                    </div>
                </div>

                <h3>Front End</h3>
                <div class="list">
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/react.png"
                        />
                        <p>React</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/nextjs.jpg"
                        />
                        <p>NextJS</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/reactquery.png"
                        />
                        <p>React Query</p>
                    </div>
                </div>

                <h3>Back End</h3>
                <div class="list">
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/nodejs.png"
                        />
                        <p>NodeJS</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/express.png"
                        />
                        <p>ExpressJS</p>
                    </div>

                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/mysql.png"
                        />
                        <p>MySQL</p>
                    </div>
                </div>

                <h3>Server</h3>
                <div class="list">
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/ssl.png"
                        />
                        <p>SSL</p>
                    </div>

                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/ec2.png"
                        />
                        <p>EC2</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/s3.png"
                        />
                        <p>S3</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/route53.png"
                        />
                        <p>Route 53</p>
                    </div>
                    <div id="#list-image">
                        <img
                            class="image"
                            src="https://kylesportfolio.s3.amazonaws.com/icon/rds.png"
                        />
                        <p>RDS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
